
html, body {
  height: 100%;
  margin: 0;
}
.bg-img {
  background-image: url("./heart.png");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1192px;
  margin: 0 auto;
}
.title {
  font-size: 60px;
  color: blue;
  font-weight: 600;
}